.DS_Store
/stellar_detector/utils/__pycache__
/stellar_detector/gui/__pycache__
/stellar_detector/core/__pycache__
/stellar_detector/data/__pycache__
/stellar_detector/__pycache__
/stellar_data/cache
